<link rel="stylesheet" href="/css/editor.css" />
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
<script src="
https://cdn.jsdelivr.net/npm/simple-image-editorjs@1.4.0/dist/bundle.min.js
"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/underline@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-text-color-plugin@2.0.2/dist/bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@sotaproject/strikethrough"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/editorjs-html@3.4.0/build/edjsHTML.js"></script>
<%= console.log(post, data) %>
<div
  class="d-flex align-items-center justify-content-between mx-auto title"
  style="max-width: 650px"
>
  <input
    style="height: 100px; font-size: 32px"
    type="text"
    name="sub"
    id="sub"
    placeholder="제목을 입력하세요"
    value="<%= post.title %>"
  />
  <button id="submit-button" class="btn btn-success">제출</button>
</div>

<div class="my-5" id="editorjs"></div>

<pre id="output"></pre>
<form action="/posts/update/<%= post.id %>?_method=PUT" method="post" id="form">
  <input
    type="hidden"
    id="authorId"
    name="authorId"
    value="<%= currentUser.id %>"
  />
  <input type="hidden" id="postId" name="postId" value="<%= post.id %>" />
  <input
    type="hidden"
    id="novelId"
    name="novelId"
    value="<%= post.novelId %>"
  />
  <input type="hidden" id="content" name="content" value="" />
  <input type="hidden" id="title" name="title" value="" />
</form>
<script>
  let str = "<%= JSON.stringify(post.content) %>";
  str = str.replaceAll("&#34;", '"');
  data = JSON.parse(str);
  const editor = new EditorJS({
    /**
     * Id of Element that should contain the Editor
     */
    holder: "editorjs",
    autofocus: true,
    placeholder: "Let`s write an awesome story!",
    /**
     * Available Tools list.
     * Pass Tool's class or Settings object for each Tool you want to use
     */
    data: data,
    tools: {
      header: {
        class: Header,
        inlineToolbar: ["link"],
      },
      list: {
        class: List,
        inlineToolbar: true,
      },
      image: {
        class: ImageTool,
        config: {
          uploader: {
            uploadByFile(file) {
              return uploadImage(file).then((resultUrl) => {
                return {
                  success: 1,
                  file: {
                    url: resultUrl,
                  },
                };
              });
            },
          },
        },
      },
      quote: Quote,
      paragraph: {
        class: Paragraph,
        inlineToolbar: true,
      },
      Color: {
        class: ColorPlugin, // if load from CDN, please try: window.ColorPlugin
        config: {
          colorCollections: [
            "#EC7878",
            "#9C27B0",
            "#673AB7",
            "#3F51B5",
            "#0070FF",
            "#03A9F4",
            "#00BCD4",
            "#4CAF50",
            "#8BC34A",
            "#CDDC39",
            "#FFF",
          ],
          defaultColor: "#FF1300",
          type: "text",
          customPicker: true, // add a button to allow selecting any colour
        },
      },
      Marker: {
        class: Marker,
        shortcut: "CMD+SHIFT+M",
      },
      underline: Underline,
      strikethrough: Strikethrough,
    },
  });

  const submitButton = document.getElementById("submit-button");
  const output = document.getElementById("output");
  const edjsParser = edjsHTML();
  const content = document.getElementById("content");
  const sub = document.getElementById("sub");
  const title = document.getElementById("title");
  let json;
  console.log(submitButton);
  submitButton.addEventListener("click", () => {
    console.log("클릭");
    editor.save().then((savedData) => {
      json = JSON.stringify(savedData, null, 4);
      content.value = json;
      title.value = sub.value;
      document.getElementById("form").submit();
    });
  });
  function uploadImage(file) {
    let form_data = new FormData();
    form_data.append("file", file);
    console.log(file);
    return new Promise((resolve, reject) => {
      $.ajax({
        data: form_data,
        type: "POST",
        url: "/posts/upload",
        cache: false,
        contentType: false,
        enctype: "multipart/form-data",
        processData: false,
        success: function (url) {
          console.log(url);
          resolve(url);
        },
      });
    });
  }
</script>
