<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <%- include('../partials/category_nav') %>

    <div class="container my-5">
      <ul class="nav">
        <li class="nav-item border border-success rounded-start">
          <a class="px-2 py-1 active" href="/novels/category/전체">전체</a>
        </li>
        <li class="nav-item border border-success">
          <a class="px-2 py-1" href="/novels/category/판타지">판타지</a>
        </li>
        <li class="nav-item border border-success">
          <a class="px-2 py-1" href="/novels/category/로맨스">로맨스</a>
        </li>
        <li class="nav-item border border-success rounded-end">
          <a class="px-2 py-1" href="/novels/category/무협">무협</a>
        </li>
      </ul>
      <div class="d-flex my-5 flex-column">
        
          <% if(!category) { %>
          <h4 class="border-bottom"style="width: 7%">전체</h4>
        <% } else { %>
          <h4 class="border-bottom"style="width: 7%"><%= category %></h4>
          <% }%>
        <div class="d-flex flex-wrap justify-content-around my-2">
          <% data.forEach(function(el, index) { %>
          <div class="card m-1" style="width: 20%;">
            <a style="text-decoration: none;" href="/novels/<%= el.id %>">
            <img class="card-img-top" src='<%= el.image %>'  alt="Card image cap">
            <div class="card-body border-top">
              <h5 class="card-title"><%= el.title %></h5>
              <p class="card-text"><%= el.author.name %></p>
            </div>
          </a>
          </div>
          <% }); %>
          
          
        </div>
      </div>
  </body>
</html>

