<!-- views/users/show.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/work.css" />
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div
      class="d-flex flex-column"
      style="margin-left: 15%; margin-right: 15%; margin-top: 100px"
    >
      <h3 class="contentBoxTop mb-3" style="">
        <span class="border-bottom border-dark">작품</span>
      </h3>

      <div
        class="d-flex ms-5 justify-content-between align-items-center py-5"
        style="height: 300px; width: 50vw"
      >
        <img
          src="<%= novel.image %>"
          style="height: 200px"
          alt=""
          target="_blank"
        />
        <div class="d-flex flex-column ms-3 me-3" style="width: 50vw">
          <h3 class="ms-3"><%= novel.title %></h3>
          <p class="ms-3"><%= novel.author.name %></p>
          <p class="ms-3"><%= novel.cycle %>-연재</p>
          <p class="ms-3">관심 <%= novel.like.length %></p>
        </div>
        <div class="d-flex align-items-between" style="height: 100%">
          <button
            class="btn_ btn-3 me-2 mt-auto"
            onclick="location.href='/novels/update/<%= novel.id %>'"
          >
            <span>작품 정보 수정</span>
          </button>

          <button
            class="btn_ btn-3 me-2 mt-auto"
            data-bs-toggle="modal"
            data-bs-target="#staticModal"
            data-id="<%= novel.id %>"
          >
            <span>작품 삭제</span>
          </button>

          <button
            class="btn_ btn-3 mt-auto"
            onclick="location.href='/posts/new/<%= novel.id %>'"
          >
            <span>작품 연재 하기</span>
          </button>
        </div>
      </div>
      <hr />
      <div class="d-flex mb-3">
        <small>연재 (<%= novel.post.length %>)</small>
      </div>
      <div class="d-flex flex-column">
        <% novel.post.forEach(function(post,idx){%>
        <div
          class="d-flex py-2 px-3 bg_gray justify-content-between border-bottom"
          style="font-size: 15px; width: 53vw"
        >
          <div class="d-flex flex-column">
            <span> <%= post.title %> </span>
            <span><%= post.updatedAt.toLocaleDateString() %></span>
          </div>
          <div class="d-flex">
            <button
              class="btn btn-primary mx-2"
              onclick="location.href='/posts/view/author/<%= post.id %>'"
            >
              내용 보기
            </button>
            <button
              class="btn btn-primary"
              onclick="location.href='/posts/update/<%= post.id %>'"
            >
              내용 수정
            </button>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <div
      class="modal fade"
      id="staticModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">삭제 요청</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">정말 삭제하실 겁니까?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              취소
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="delete_btn"
              onclick="deleteNovel()"
            >
              삭제
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    const myModalEl = document.getElementById("staticModal");
    const myInpulEl = document.querySelector(".delete");
    const deleteBtn = document.querySelector("#delete_btn");
    $(".delete").click(function () {
      var data = $(this).data("id");
      deleteBtn.dataset.id = data;
    });
    myModalEl.addEventListener("shown.bs.modal", (event) => {
      console.log(deleteBtn.dataset.id);
    });
    const deleteNovel = function () {
      location.href = "/novels/delete/" + deleteBtn.dataset.id;
    };
  </script>
</html>
