<!-- views/posts/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="wrap mx-auto mt-5" style="width: 800px">
      <div class="d-flex px-5 py-3 border border-dark">
        <div class="d-flex flex-column">
          <img
            src="<%= novel.image %>"
            width="200px;"
            height="280px;"
            alt="book_cover"
          />
          <button type="button" class="btn btn-success">좋아요!</button>
        </div>
        <div class="d-flex flex-column pt-5 ms-5">
          <h2><%= novel.title %></h2>

          <div class="d-flex flex-column my-3">
            <span><%= novel.author %></span>
            <span>총 <%= novel.post.length %>화</span>
          </div>
          <div class="d-flex flex-column my-3">
            <p>작품소개</p>
            <p><%= novel.content %></p>
          </div>
        </div>
      </div>
      <div class="row my-5 border-top">
        <div class="col-12 my-3">
          <div class="d-flex mb-3">
            <h4>연재 목록</h4>
            <button class="btn btn-dark ms-auto">구매하기</button>
          </div>

          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div class="d-flex">
                <label for="check1"
                  ><input type="checkbox" id="check1" />
                  <span> 1화 </span>
                </label>
              </div>

              <button class="btn btn-primary">New</button>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div class="d-flex">
                <label for="check2"
                  ><input type="checkbox" id="check2" />
                  <span> 2화 </span>
                </label>
              </div>
              <button class="btn btn-primary">New</button>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div class="d-flex">
                <label for="check3"
                  ><input type="checkbox" id="check3" />
                  <span> 3화 </span>
                </label>
              </div>
              <button class="btn btn-primary">New</button>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div class="d-flex">
                <label for="check4"
                  ><input type="checkbox" id="check4" />
                  <span> 4화 </span>
                </label>
              </div>
              <button class="btn btn-primary">New</button>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div class="d-flex">
                <label for="check1"
                  ><input type="checkbox" id="check1" />
                  <span> 1화 </span>
                </label>
              </div>

              <button class="btn btn-primary">New</button>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div class="d-flex">
                <label for="check2"
                  ><input type="checkbox" id="check2" />
                  <span> 2화 </span>
                </label>
              </div>
              <button class="btn btn-primary">New</button>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div class="d-flex">
                <label for="check3"
                  ><input type="checkbox" id="check3" />
                  <span> 3화 </span>
                </label>
              </div>
              <button class="btn btn-primary">New</button>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div class="d-flex">
                <label for="check4"
                  ><input type="checkbox" id="check4" />
                  <span> 4화 </span>
                </label>
              </div>
              <button class="btn btn-primary">New</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
